<div class="artlistcontainer">
  <div class="artlist">
  <% @artists.each do |a| %>
    <div class="artistlistitem">
      <a href="/browse/<%= a.title %>">
        <%= a.title %>
      </a>
    </div>
  <% end %>
  </div>
</div>