<!-- The home page displays a list of all the artists current indexed in the local WavHead database. -->
<div class="artlistcontainer">
  <div class="artlist">

  <!-- For each artist listed, the following is displayed (pretty much just the name of the artist and applicable CSS styles). -->
  <% @artists.each do |a| %>
    <div class="artistlistitem">
      <a href="/browse/<%= a.title %>">
        <%= a.title %>
      </a>
    </div>
  <% end %>
  </div>
</div>