<!DOCTYPE html>
<html>
  <head>
    <title><%= @title ? @title : "WavHead" %></title>
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>

  <body>

    <div id="header">
      <a href="/">WavHead</a>
      <a href="https://github.com/SHTheSuper/WavHead" class="githublink">(View on GitHub)</a>
    </div>

    <div id="masthead">

      <div id="sidebarcontainer">

        <div id="sidebar">
          Queue
        </div>

      </div>

      <div id="content">
        <%= yield %>
      </div>

    </div>

    <div id="footerbuffer"></div>
    <div id="footer">

    <% if @current %>
      <%= @current.song.album.title %>
    <% end %>
    
    </div>
  </body>

</html>