<!DOCTYPE html>
<html>
<head>
<title><%= @title ? @title : "WavHead" %></title>
<link rel="stylesheet" type="text/css" href="/main.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/main.js"></script>
</head>
<body>

<div id="header">
  <a href="/">WavHead</a>
  <a href="https://github.com/SHTheSuper/WavHead" class="githublink">(View on GitHub)</a>
</div>

<div id="sidebarcontainer">
  <div id="sidebar"></div>
</div>

<div id="contentcontainercontainer">
  <%= yield %>
</div>

<div id="footer">
  <div id="footercontainer">
    <div id="somethingplaying">
      <div class="currentalbumart"></div>
      
      <div class="songprogress">
        <div class="songprogresselapsed"></div>
        <div class="songprogresstotal"></div>
      </div>
      
      <div class="progressbar">
        <div class="progressbarfill"></div>
      </div>

      <div class="songtitle"></div>  
      <div class="artistalbumtitle"></div>
    </div>
    
    <div class="nothingplaying">
      <div class="currentalbumart">
        <img src="/nocover.png">
      </div>

      Nothing is playing right now.
    </div>
  </div>
</div>

</body>
</html>
