<!DOCTYPE html>
<html>
<head>
<!-- Browser "tab" title -->
<title><%= @title ? @title : "WavHead" %></title>

<!-- Favicon -->
<link rel="icon" type="image/png" href="/favicon-64x64.png"/> 

<!-- CSS Stylesheets -->
<link rel="stylesheet" type="text/css" href="/main.css">

<!-- JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/main.js"></script>

<!-- Viewport meta tags -->
<meta name="viewport" content="width=device-width">

</head>
<body>

<div id="mobileoverlay" style="display: none">
  <div id="mobileoverlaybackground"></div>

  <div class="queueheader">
    <div class="queuetitle">Queue</div>
  </div>
  
  <div id="mobilesidebarcontainer">
    <div class="sidebar"></div>
  </div>
</div>

<!-- Div for the fixed header that contains the product title and a link to the GitHub repository. -->
<div id="header">

  <!-- Only displayed on mobile-width devices, when clicked calls a function that displays the mobile Queue. -->
  <div id="mobilequeuebutton">

  <!-- SVG code that determines the icon's shape. -->
    <svg width="30" height="30" version="1.1">
      <rect y="22" fill="#FFFFFF" width="30" height="4"/>
      <rect y="11" fill="#FFFFFF" width="30" height="4"/>
      <rect fill="#FFFFFF" width="30" height="4"/>
    </svg>
  </div>
  <div id="wavheadtitle">
    <a href="/">WavHead</a>
    <a href="https://github.com/SHTheSuper/WavHead" class="githublink">(View on GitHub)</a>
  </div>
</div>

<!-- Div for the Queue sidebar's fixed header. -->
<div class="queueheader">
  <div class="queuetitle">Queue</div>
</div>

<!-- Div that contains the sidebar and thus all the information about the Queued songs. -->
<div id="sidebarcontainer">
  <div class="sidebar"></div>
</div>

<!-- A poorly titled div that contains the content on all pages to ensure that it doesn't overflow into other sections or get covered up in any way. -->
<div id="contentcontainercontainer">
  <%= yield %>
</div>

<!-- The footer contains information on the song that is currently being played (assuming anything is being played at all). -->
<div id="footer">
  <div id="footercontainer">

    <!-- Assuming that something is being played, the content inside the "somethingisplaying" div is displayed. -->
    <div id="somethingplaying">
      <div class="currentalbumart"></div>
      
      <!-- Song progress values (0:42 / 4:20). -->
      <div class="songprogress">
        <div class="songprogresselapsed"></div>
        <div class="songprogresstotal"></div>
      </div>
      
      <!-- The progress bar that visualizes how much of the current song has been played. -->
      <div class="progressbar">
        <div class="progressbarfill"></div>
      </div>

      <!-- The current song's title. -->
      <span id="currentsongtitle"></span>
      <style id="currentsongtitlestyles"></style>

      <br>

      <!-- The current song's artist and album titles. -->
      <div class="currentartisttitle"></div> 
      <div id="currentdivider"> &mdash; </div>
      <div id="currentlinebreak"><br></div>
      <div class="currentalbumtitle"></div>
    </div>
    
    <!-- If nothing is playing, then the "nothingplaying" div is displayed. -->
    <div id="nothingplaying">
      <div class="currentalbumart">
        <img src="/nocover.png">
      </div>

      Nothing is playing right now.
    </div>
  </div>
</div>

</body>
</html>
