<!DOCTYPE html>
<html>
  <head>
    <title><%= @title ? @title : "WavHead" %></title>
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>

  <body>
    <%= yield %>

	<div id="footerbuffer"></div>
	
    <div id="footer"></div>
  </body>

</html>