<div id="queue">
  Queue

  <% if @queue %>
    <% @queue.each do |i| %>
      <div class="queuelistitem">
        <div class="queueitemtitle">
          <%= i.title %>
        </div>
        <div class="queueitemartist">
          <%= i.artist.title %>
        </div>
      </div>
    <% end %>
  <% else %>
    No songs are queued.

  <% end %>
</div>
