<div id="queue">
  <div id="queueheader">
    Queue
  </div>

  <% if @queue %>
    <% @queue.each do |i| %>
      <div class="queuelistitem">
        <div class="queueitemtitle">
          <%= i.title %>
        </div>

        <div class="queueitemartist">
          <a href="/browse/<%= i.artist.title %>">
            <%= i.artist.title %>
          </a>
        </div>
      </div>
    <% end %>
  <% else %>
    No songs are queued.

  <% end %>
</div>
