<div id="breadcrumbs">WavHead > <%= @artist.name %> > <%= @album.title %> > <%= @song.title %></div>

<form action="<%= @song.title %>/vote" method="post">
  <input type="submit" name="vote" value="Upvote">
</form>