<div id="breadcrumbs">
	<a href="/">WavHead</a> > <%= @artist.name %> > <%= @album.title %> > <%= @song.title %>
</div>

<form action="<%= @song.title %>/vote" method="post">
  <input type="submit" name="vote" value="Upvote" class="upvotebutton">
</form>