/*

    =================================
             GENERAL STYLES
    =================================

*/

html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  font-weight: 200;
  font-size: 16px;
  background-color: #262E4F;
  color: rgba(255,255,255,1.0);
}

a {
  color: #FFFFFF;
  text-decoration: underline;
}


/*

    =================================
              HEADER
    =================================

*/

#headercontainer {
  position: fixed;
  z-index: 100;
  background-color: rgba(88,86,214,0.6);
  transition: all 700ms ease-in-out;
  width: 100vw;
  height: 60vh;
  top: -60vh;
}

#desktopheader {
	display: none;
}

#mobileheader {
	display: auto;
	padding: 0px;
}

@media all and (min-width: 700px) {
	#headercontainer {
		top: -60px;
		height: 60px;
	}

	#desktopheader {
		display: block;
	  height: 100%;
	}

	#mobileheader {
		display: none;
	}
}

#wavheadtitle {
  z-index: 101;
	position: absolute !important;
	top: 15px;
  font-size: 24px !important;
  font-weight: 500 !important;
  cursor: pointer;
}

li#wavheadtitle a {
  color: rgba(255,255,255,0.60);
  transition: all 700ms ease-in-out;
}

li#wavheadtitle a:hover {
  color: rgba(255,255,255,1.0);
  transition: all 150ms ease-in-out;
}

li#wavheadtitle.active a {
  color: rgba(255,255,255,0.60);
  transition: all 150ms ease-in-out;
}

li#wavheadtitle.active a:hover {
  color: rgba(255,255,255,1.0);
  cursor: pointer;
}

#desktopheader li {
  text-align: right;
  vertical-align: middle;
  display: inline;
  list-style-type: none;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  cursor: pointer;
  color: rgba(255,255,255,0.60);
  white-space: nowrap;
  transition: all 150ms ease-in-out;
}

#desktopheader li:last-of-type {
  position: fixed;
  right: 10ex;
  top: 21px;
}

#desktopheader li:nth-last-of-type(2) {
  position: fixed;
  right: 24ex;
  top: 21px;
}

#desktopheader li:nth-last-of-type(3) {
  position: fixed;
  right: 37ex;
  top: 21px;
}

#desktopheader li:nth-last-of-type(4) {
  position: fixed;
  right: 52ex;
  top: 21px;
}

#desktopheader a {
  transition: all 150ms ease-in-out;
  color: rgba(255,255,255,0.60);
  text-decoration: none;
}

#desktopheader a:hover {
  color: rgba(255,255,255,1.0);
}

#desktopheader .active a {
  transition: all 150ms ease-in-out;
  color: rgba(255,255,255,1.0);
}

#mobileheader li {
	list-style-type: none;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
}

#mobileheader a {
  color: rgba(255,255,255,1.0);
  text-decoration: none;
}

/*

    =================================
                CONTENT
    =================================

*/

#contentcontainer {
  z-index: 50;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100vw;
}

#content {
  width: 100%;
  height: 100%;
}

#homecontainer, #aboutcontainer, #featurescontainer, #installcontainer, #contactcontainer {
  margin: 0px;
  text-align: center;
}

@media all and (min-width: 700px) {
  #homecontainer, #aboutcontainer, #featurescontainer, #installcontainer, #contactcontainer {
    padding: 0px 15px;
  }
}


/*

    =================================
        TEXT STYLING AND PLACEMENT
    =================================

*/

.textcontainer {
  position: absolute;
  top: 15vh;
  text-align: center;
  width: 100vw;
}

.slidetextcontainer {
  position: absolute;
  top: 8vh;
  text-align: center;
  width: 100vw;
  padding: 0px;
}

@media all and (min-width: 700px) {
	.slidetextcontainer {
	  padding: 0px 10px 5px 10px;
	}
}

.titletext {
	z-index: 10;
	position: relative;
  font-weight: 200;
  font-size: 24px;
  padding: 0px 10px 5px 10px;
}

.subtitletext {
	z-index: 10;
	position: relative;
  font-weight: 200;
  font-size: 16px;
  padding: 0px 10px 5px 10px;
  margin: auto;
  line-height: 1.2em;
}

@media all and (min-width: 700px) {
	.titletext {
		font-size: 32px;
	}

	.subtitletext {
    max-width: 1200px;
		font-weight: 400;
		font-size: 18px;
	}
}

.left-arrow {
	fill: rgba(88, 86, 214, 0.6);
  transition: all 150ms ease-in-out;
	display: none;
	position: absolute;
	height: 100px;
	width: 40px;
	left: 60px;
	top: 40vh;
}

.left-arrow:hover, .right-arrow:hover {
	fill: rgba(88, 86, 214, 1.0);
}

#left-arrow-one {
	margin-left: 33%;
}

#left-arrow-two {
	margin-left: 66%;
}

.right-arrow {
	fill: rgba(88, 86, 214, 0.6);
  transition: all 150ms ease-in-out;
	display: none;
	position: absolute;
	height: 100px;
	width: 40px;
	right: 60px;
	top: 40vh;
}

#right-arrow-one {
	margin-right: 66%;
}

#right-arrow-two {
	margin-right: 33%;
}

@media all and (min-width: 700px) {
	.right-arrow, .left-arrow {
		display: inline-block;
	}
}


/*

    =================================
	        	IMAGE STYLING
    =================================

*/

.imagecontainer {
	height: auto;
	width: auto;
	display: block;
}

.imagecontainer img {
	position: relative;
	text-align: center;
	margin-top: 20vh;
  height: 74vh;
  width: auto;
	z-index: 5;
}

#featuresdesktopimagecontainer {
  display: none;
}

#featuresmobileimagecontainer {
  display: block;
}

#featuresmobileimagecontainer img {
  position: relative;
  text-align: center;
  width: auto;
  height: 60vh;
  z-index: 5;
	margin-top: 20vh;
}

@media all and (min-width: 700px) {
  #featuresdesktopimagecontainer {
    display: block;
  }

  #featuresmobileimagecontainer {
    display: none;
  }
}

.svgcontainer {
  position: relative;
  height: 200px;
  width: 200px;
  top: 40px;
  text-align: center;
  margin: auto;
}

.slidesvgcontainer {
  position: relative;
  height: 200px;
  width: 200px;
  top: 40px;
  text-align: center;
  margin: auto;
}

#homesvgcontainer {
  position: relative;
  height: auto;
  width: 80vw;
  bottom: 100px;
  text-align: center;
  margin: auto;
}

@media all and (min-width: 700px) {
  .svgcontainer {
    position: relative;
    height: 400px;
    width: 400px;
    top: 8vh;
    text-align: center;
    margin: auto;
  }

  .slidesvgcontainer {
    position: static;
    height: 300px;
    width: 300px;
    top: 40vh;
    text-align: center;
    margin: auto;
  }

  #homesvgcontainer {
    width: 400px;
    height: 400px;
    bottom: 100px;
  }
}


/*

    =================================
              "HOME" SECTION
    =================================

*/

#hometextcontainer {
  position: absolute;
  bottom: 20vh;
  width: 100vw;
  text-align: center;
}

.home-titletext {
  font-weight: 500;
	font-size: 48px;
	line-height: 48px;
}

.home-subtitletext {
  font-weight: 200;
  font-size: 24px;
}

@media all and (min-width: 700px) {
  #hometextcontainer {
    bottom: 15vh;
  }

  .home-titletext {
  	font-size: 72px;
  	line-height: 72px;
  }

  .home-subtitletext {
  	font-size: 30px;
  }
}


/*

    =================================
              "INSTALL" SECTION
    =================================

*/

.buttoncontainer {
	display: inline-block;
	position: relative;
	text-align: center;
	margin: 0px;
	padding-top: 50vh;
}

@media all and (min-width: 700px) {
	.buttoncontainer {
		padding-top: 0vh;
	}

	.button {
		margin: 10px;
	}
}

#GitHub-button, #download-button {
	border: #5856D6 1px solid;
	border-radius: 5px;
	height: 24px;
	width: 180px;
	padding: 12px;
	background-color: transparent;
  transition: all 300ms ease-in-out;
}

#GitHub-button:hover, #download-button:hover {
	background-color: #5856D6;
}

.button {
	margin: 3px;
  line-height: 24px;
	height: 100%;
	font-size: 24px;
	font-weight: 200;
	color: #5856D6;
	text-align: center;
	text-decoration: none;
}

.button:hover {
	color: #FFFFFF;
}


/*

    =================================
              "ABOUT" SECTION
    =================================

*/

#madewithlove {
  margin-bottom: 50px;
  width: 100%;
  white-space: nowrap;
}

#madewithlove span {
  font-size: 48px;
  font-weight: 300;
  vertical-align: 55%;
  padding: 0px 15px;
}

@media all and (max-width: 400px) {
	#madewithlove {
		margin-bottom: 10px;
	}

	#madewithlove span {
		font-size: 36px;
		padding: 0px 10px;
		vertical-align: 70%;
	}

	.creditname {
		font-size: 30px;
	}
}

#creditscontainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.credit {
  width: 100vw;
  margin: 0px;
  padding-top: 20px;
}

.creditname {
  width: 100%;
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 0px;
}

.creditdescription {
  width: 100%;
  font-size: 20px;
  font-weight: 200;
}

@media all and (min-width: 700px) {
  #madewithlove {
    margin-bottom: 15vh;
  }

  #madewithlove span {
  	padding: 0px 25px;
  }

  .credit {
    padding-top: 40px;
    width: auto;
    min-width: 400px;
    margin: 0px 50px;
  }

  .creditname {
    padding-bottom: 5px;
    font-weight: 300;
  }

  .creditdescription {
    font-weight: 500;
  }

  .creditlinks {
  	padding-top: 10px;
  }
}

.creditlinks {
  padding-top: 5px;
}

.creditlinks a {
  text-decoration: none !important;
  fill: #5856D6;
  transition: all 150ms ease-in-out;
}

.creditlinks a:hover {
  fill: #FFFFFF;
}

#credit-Connor, #credit-Anthony {
  text-align: center;
}

@media all and (min-width: 700px) {
  #credit-Connor {
    text-align: left;
  }

  #credit-Anthony {
    text-align: right;
  }
}


/*

    =================================
          FULLPAGE.JS STYLING
    =================================

*/

.fp-slidesNav ul li a span {
  vertical-align: middle;
  background-color: rgba(88, 86, 214, 0.5);
  border: 1px #262E4F solid;
  -webkit-transition: background-color 400ms ease-in-out, border 400ms ease-in-out;
  transition: background-color 400ms ease-in-out, border 400ms ease-in-out;
  margin-top: 55px;
}

@media all and (min-width: 700px) {
  .fp-slidesNav ul li a span {
    margin-top: 65px;
  }
}

.fp-slidesNav .active span {
  background-color: rgba(88, 86, 214, 1.0) !important;
  border: 1px rgba(88, 86, 214, 1.0) solid !important;
}

.fp-controlArrow, .fp-prev, .fp-next {
	display: none !important;
}

.fp-tableCell {
	width: auto !important;
}
